/* สี
    #6A311D
    #FA5D2A 
    #FA8460
    #EEE8C8
    #FFF6F1*/

#dropdownMenuButton {
  background-color: #fff;
  color: #6A311D;
  border: none;

}

/* แถวรายการออเดอร์ */
.Orderlist_bar {
  background-color: #fff;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* ทำให้มีการเลื่อนแนวตั้งเมื่อมีเนื้อหาเกินขอบเขต */
}

/* รายการ(1order) */
.Orderlist_item {
  display: flex;
  flex-direction: column;
  background-color: #FFF6F1;
  border: 0.25px ridge #eee;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  padding: 0;
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  padding: 5px 20px;
}

.s1 {
  background-color: #cb2d2d;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

#rec {
  color: #cb2d2d;
}

.s2 {
  background-color: #e69d01;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

#arg {
  color: #e69a01;
}

.s3 {
  background-color: #1f9f02;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

#fin {
  color: #1f9f02;
}

/* รายละเอียดเล็กน้อย */
.date_time {
  font-size: 18px;
}

.amount_list {
  width: 50px;
  height: 30px;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 2px;
}

.status_order {
  font-size: 20px;
  justify-content: center;


}

.innerorder {
  height: 100%;
}

.head_tab {
  width: 101.55%;
  height: 5%;
  background-color: #6A311D;
  border-radius: 10px 10px 0 0;

}

.back_page {
  border: none;
  background-color: #6A311D;
  height: 100%;
  display: flex;
}

.head_order {
  width: 100%;
  height: 25%;
  border-bottom: 1px ridge #6A311D;
  padding: 10px;
}

.menu_bar {
  width: 100%;
  height: 70%;
  background-color: #FFF6F1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.menu_item {
  background-color: #FA8460;
  border: 0.25px double #6A311D;
  width: 100%;
  height: 80px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}


.pic_frame {
  display: flex;
  width: 60px;
  height: 90%;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.menu_img {
  width: 50px;
  height: 50px;
}

.name_menu_frame {
  width: calc(100% - 70px);
  /* ลบขนาดของรูปภาพออก */
  display: flex;
  align-items: center;
  color: #fff;
}

.name_menu {
  color: #fff;
  margin: 0;
  order: -1;
  /* เปลี่ยนลำดับให้ชื่ออยู่ด้านซ้ายของรูปภาพ */
}

.oneset {
  color: #fff;
  margin: 0;
}

.quantity {
  color: #fff;
  opacity: 80%;
}

.submit_bar {
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.receive_button {
  background-color: #FA5D2A;
  border: none;
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

.arranging_button {
  background-color: #FA5D2A;
  border: none;
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

/* แถวสถานะ */
.status_bar {
  background-color: #EEE8C8;
  width: 99%;
  min-height: 10.35%;
  height: 11%;
  max-height: 11%;
  z-index: 999;
  display: flex;
  border-radius: 10px 10px 0 0;
}

.status {
  display: flex;
  flex-grow: 1;
  text-align: center;
  width: 30%;
  height: 90%;
  margin: auto;
}

.status_button {
  width: 99%;
  height: 100%;
  margin: auto;
  border: none;
  background-color: #EEE8C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* แจ้งเตือน */
.notification {
  position: relative;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 5%;
  top: 10%;

}

/* model */
.model {
  width: 500px;
  height: 500px;
}

.modal-header {
  background-color: #FA5D2A;
  color: #fff;
}

.cn_btn {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border-radius: 25px;
  border: 2px ridge #FA5D2A;
  color: #6A311D;
}

.sm_btn {
  width: 80px;
  height: 40px;
  background-color: #FA5D2A;
  border-radius: 25px;
  border: 2px ridge #6A311D;
  color: #fff;
}


.outside-content {
  height: 90%;
  width: 100%;
  padding: 2% 2.5%;

}

.main-content {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 2.5% 3.5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.items-type {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.cards-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 1.5%;
  row-gap: 4.5%;

}

.cards {
  display: flex;
  background-color: #EEE8C8;
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 8px;

}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0%;
}

.cards img {
  width: 45%;
}

.edit-btn {
  display: flex;
}

.menu-option {
  width: 7rem;
  height: 2.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 1cap;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.button-edit {
  background-color: #FFF59B;
  border-color: transparent;
}

.button-edit:hover {
  background-color: #f8e852;
}

#form2 {
  font-size: 18px;
}

.type-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.modal-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* align-items: center; */
}

.confirm-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: #009179;
  border: none;
}

.confirm-btn:hover {
  background-color: #009179c2;
}

.cancel-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: #FA5D2A;
  border: none;
}

.cancel-btn:hover {
  background-color: #fa5e2abe;
}