.bg-egg {
    background-color: #EEE8C8;
}

.bg-gray {
    background-color: #D9D9D9;
}

.w-full {
    width: 100vw;
}



/* layout */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}